h4{
  text-align:center;
}
label{
  color:gray;
  font-weight: normal;
    font-size: 12px;
    margin-left: 12px;
}
.button{
  text-align:center;
  margin-top: 30px;
}
.savebtn{
  width: 80px;
  background-color: orangered;
}
.cancelbtn{
  width: 80px;
  background-color:orange;
}

mat-checkbox{
  
  margin-left: 0px;
}

h5{
  margin-left: 0px;
}