
<h4 style="text-align: center;margin-bottom: 20px;color:gray"> Add New Safeguard </h4>
<!-- <div class="modal-content">
    <div class="modal-body"> -->
<form #safegaurdform="ngForm" (ngSubmit)="savesafegaurd(safegaurdform.value); ">
    <!-- <div class="card-body bg-white br-radius-5"> -->
       <!-- <input *ngIf="Safeguardedit.id" type="hidden" name="id" [(ngModel)]="Safeguardedit.id"> -->
       <input *ngIf="Safeguardedit.id" type="hidden" name="id" [(ngModel)]="Safeguardedit.id">
       <mat-form-field style="margin-top:40px">
        <input matInput name="safeguard_name" placeholder="Safeguard Name" [(ngModel)]="Safeguardedit.safeguard_name" required>
    </mat-form-field>
       <div style="color:gray;font-weight:normal;margin-top: 15px;">
          <h5> Select Type :</h5>
          <!-- <section class="col-sm-3">
            <mat-checkbox name="rsc" [(ngModel)]="Safeguardedit.rsc"
            [checked]="safegaurdform.rsc">
            RSC</mat-checkbox>
            </section>
            <section class="col-sm-3">
            <mat-checkbox name="msc" [(ngModel)]="Safeguardedit.msc"
            [checked]="safegaurdform.msc">
            MSC</mat-checkbox>
            </section>
            <section class="col-sm-3">
            <mat-checkbox name="csc" [(ngModel)]="Safeguardedit.csc"
            [checked]="safegaurdform.csc">
            CSC</mat-checkbox>
            </section>
            <section class="col-sm-3">
            <mat-checkbox name="defaultcheck" [(ngModel)]="Safeguardedit.defaultcheck"
            [checked]="safegaurdform.defaultcheck">
         Default</mat-checkbox>
         </section> -->
         <mat-checkbox name="rsc" [(ngModel)]="Safeguardedit.rsc" [checked]="safegaurdform.rsc">RSC</mat-checkbox><br>
         <mat-checkbox name="msc" [(ngModel)]="Safeguardedit.msc" [checked]="safegaurdform.msc">MSC</mat-checkbox><br>
         <mat-checkbox name="csc" [(ngModel)]="Safeguardedit.csc" [checked]="safegaurdform.csc">CSC</mat-checkbox><br>
         <mat-checkbox  name="defaultcheck" [(ngModel)]="Safeguardedit.defaultcheck" [checked]="safegaurdform.defaultcheck" >Default</mat-checkbox>
        </div>
        
      
     
     

      

<!-- <div class="pull-right">
    <button mat-raised-button class="btn btn-primary"
  [disabled]="!safegaurdform.valid">{{ buttonShow ? 'Update safeguard' :'Add safeguard' }}
</button>&nbsp;&nbsp;
      <button class ="btn btn-primary" style="width: 80px;"(click)="cancelsafeguard()" >cancel</button>
    </div> -->
  <!-- </div> -->
  <div class="button">
    <button  type="button" class ="btn btn-primary" style="background-color:gray;float: left;" (click)="closeDialog()" >Cancel</button>&nbsp;&nbsp;
    <button type="submit"  class="btn btn-primary" style="background-color: orangered;float: right;" [disabled]="!safegaurdform.valid">{{ buttonShow ? 'Update Safeguard' :'Add Safeguard' }}</button> 
    
  </div>
</form>
<!-- </div>
</div> -->





