<!-- <p>mainpage works!</p> -->

<div class="container">
   
  <div class="main">
      <div clas="" style="text-align: center;margin-top: -42px;">
          <img class="" src="../../../assets/images/logo_75_1.png" />
        </div>
      <h4 style="text-align:center;">Welcome Robot Safety Center</h4>
	<div class="row" style="margin-left: 235px;">
		<div class="col-md-4" style="width: 200px;margin-top: -40px;">
			<div class="dbox dbox--color-1">
        	<!-- <div class="dbox__action">
              <button class="dbox__action__btn">RSC</button>
            </div> -->
				<div class="dbox__body">
					<span class="dbox__count" (click)="rsc()">RSC</span>
					<span class="dbox__title">Robot Safety Center</span>
        </div>
        
			</div>
		</div>
		<div class="col-md-4" style="width: 200px;margin-top: -40px;">
			<div class="dbox dbox--color-2">
				<div class="dbox__body">
					<span class="dbox__count" (click)="mhc()">MHC</span>
					<span class="dbox__title">MHC</span>
				</div>
			</div>
		</div>
		<div class="col-md-4" style="width:200px;margin-top: -40px;">
			<div class="dbox dbox--color-3">
				<div class="dbox__body">
					<span class="dbox__count" (click)="mhsc()">MHSC</span>
					<span class="dbox__title">MHSC</span>
				</div>
			</div>
		</div>
  </div>
</div>
</div>