<h4>company </h4>
<!-- <form autocomplete="off" #companyForm="ngForm" (ngSubmit)="save()"> -->
  <button class=" btn btn-warning pull-right" mat-raised-button (click)="openDialog()">Add Company</button>
<!-- </form> -->

<!-- <mat-icon>add_circle</mat-icon> -->


