<div class="main-content" >
    <!--style="height:690px;background-image: url(/assets/images/bg4.jpg)"  -->

    <div class="row clearfix" [@routerTransition]>
        <div class="col-lg-4 col-md-3 col-sm-1 col-xs-1"></div>
        <div class="col-lg-4 col-md-6 col-sm-10 col-xs-10">
            <div class="card">
                <!-- <div>
                    <div style="text-align: center;font-weight:bold">
                        Reset Password
                    </div>
                </div> -->
               
              <div>
                    <h4 class="text-center">Reset Password</h4>
              </div>

                <div class="card-body table-responsive">
                    <form #resetPasswordForm="ngForm" id="frm_reset_password" novalidate (ngSubmit)="save(resetPasswordForm.value)">
                        <div class="animated fadeIn active" id="customer-details">
                            <!-- <div class="clearfix" style="margin-top:10px;"> -->
                            <!-- <div class="col-sm-12">
                        <div class="form-group">
                            <div>
                                <label class="form-label">{{appSession.user.userName}} ({{appSession.user.emailAddress}})</label>
                            </div>
                        </div>
                    </div> -->
                            <!-- </div> -->
                            <!-- <div class="clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="currentPassword" type="password" name="currentPassword" [(ngModel)]="resetPassword.currentPassword" required maxlength="32" minlength="2" class="validate form-control">
                                    <label for="currentPassword" class="form-label">{{("Current Password")}}</label>
                                </div>
                            </div>
                        </div>
                    </div> -->
                            <div class="clearfix">
                                <!-- <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input id="newPassword" type="password" name="newPassword" [(ngModel)]="resetPassword.newPassword" required maxlength="32" class="validate form-control">
                                    <label for="newPassword" class="form-label">{{("New Password")}}</label>
                                </div>
                            </div>
                        </div> -->

                             <fieldset class="col-sm-12" ngModelGroup="passwordGroup">
                                   <div class="form-group" [class.has-error]="password.touched && password.invalid">
                                        <mat-form-field>
                                            <input matInput placeholder="New Password" id="password" #password="ngModel" type="password" name="password" [(ngModel)]="resetPasswordForm.password"
                                                    #password="ngModel" required maxlength="32" pattern="(?=^.{4,45}$)(?=.*\d)(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$" (reset)="confirmPassword.control.updateValueAndValidity()">
                                        </mat-form-field>
                                        <mat-error *ngIf="password.touched && password.errors?.required">
                                            Password is required
                                        </mat-error>
                                        <mat-error *ngIf="password.errors?.pattern">Password must contain atleast one Upper case letter, Numerber and a special character(For Ex:- $,@,%)</mat-error>

                                    </div>
                                    <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                                        <mat-form-field>
                                            <input matInput placeholder="Confirm Password" appConfirmEqualValidator="password" required id="confirmPassword" type="password"
                                                    name="confirmPassword" [(ngModel)]="resetPasswordForm.confirmPassword" #confirmPassword="ngModel">
                                        </mat-form-field>
                                        <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                                            Please confirm your password
                                        </mat-error>
                                        <mat-error *ngIf="confirmPassword.dirty && confirmPassword.errors?.notEqual &&
                                        !confirmPassword.errors?.required">
                                            New password and Confirm Password does not match
                                        </mat-error>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div style="float:left;margin-left: 242px;">
                                <button mat-raised-button class="btn btn-danger" routerLink="/account/login" type="button" (click)="resetPasswordForm.resetForm()">
                                    Cancel
                                </button>
                            </div>
                            <div class="float:right">
                            <button mat-raised-button class="btn btn-primary"
                                    [disabled]="!resetPasswordForm.form.valid"
                                    type="submit">
                                <!-- [disabled]="!resetPasswordForm.form.valid" -->
                                <!-- [disabled]="!createUserForm.form.valid || saving" -->
                                reset Password
                            </button>
                        </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-1 col-xs-1"></div>
    </div>
</div>