.search-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
  }
  
  .search-header {
    min-height: 64px;
    padding: 8px 24px 0;
    /*background: #0dadec;*/
  }
  
  .mat-form-field {
    
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

.mat-header-cell {
    font-weight: bold;
    
    color: #000
}
