<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" [hidden]="!dataSourceLength">
                <div class="card-body">
                    <div class="pull-right">
                        <button class="mat-flat-button mat-primary" data-background-color="blue" (click)="createUser()">Add</button>
                    </div>
                    <div [hidden]="!dataSource">
                    <div class="search-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search User">
                        </mat-form-field>
                    </div>
                    <mat-table [dataSource]="dataSource" matSort>
                        <!-- <ng-container matColumnDef="userName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
                        </ng-container> -->
                        <ng-container matColumnDef="fullName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="emailAddress">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.emailAddress}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="isActive">
                            <mat-header-cell *matHeaderCellDef> IsActive </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <i class="material-icons" *ngIf="row.isActive" style="color:#3f51b5;">check_box</i>
                                <i class="material-icons" *ngIf="!row.isActive" style="color:red;">indeterminate_check_box</i>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <button (click)="editUser(row)" class="mat-flat-button mat-primary margin" data-background-color="blue">Edit
                                    <!-- <mat-icon class="material-icons">edit</mat-icon> -->
                                </button>
                                <button (click)="delete(row)" *ngIf="row.userName != 'admin'" class="mat-flat-button mat-accent" data-background-color="teal" >Delete
                                    <!-- <mat-icon class="material-icons">delete_sweep</mat-icon> -->
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    </div>
                    <div *ngIf="dataSourceLength === 0">
                        <mat-toolbar>No records found! </mat-toolbar>
                    </div>
                    <div [hidden]="!dataSource">
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
                <create-user-modal #createUserModal></create-user-modal>
                <edit-user-modal #editUserModal></edit-user-modal>
            </div>
        </div>
    </div>
</div>
<div class="loading-div" *ngIf="users.length === 0">
    <mat-spinner></mat-spinner>
</div>