
<div class="card" style="width: 1000px;margin-right: -285px;float: right;border:2px solid gray;border-radius: 0px;">
    <div class="body">
        <div class="col-md-6">
            <form  autocomplete="off" #createUserForm="ngForm" id="frm_create_user" (ngSubmit)="save()">
                <h3 class="text-center" style="font-weight: 600;
                font-size: 19px;
                line-height: 24px;">{{ "Create User" | localize }}</h3><br>
                <!-- <h6 class="divider line one-line" contenteditable style="text-align:center;font-size:18px">Create User </h6> -->
                    <div class="form-group form-float">
                       <div class="col-md-12">
                          <div class="input-group" style="margin-top: 10px;">
                              <span class="input-group-addon">
                                  <i class="material-icons" style="font-size: 16px;">person</i>
                              </span>
                              <mat-form-field>
                              <input matInput placeholder="First Name" type="text" name="Name" minlength="2">
                              <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                  <mat-error *ngIf="name.errors.required">Name is required</mat-error>
                                  <mat-error *ngIf="name.errors.minlength">At least 2 characters required.</mat-error>
                              </mat-error> -->
                             </mat-form-field>
                          </div>
                       </div>

                       <div class="col-md-12">
                          <div class="input-group" style="margin-top: -38px;">
                              <span class="input-group-addon">
                                  <i class="material-icons" style="font-size: 16px;">person</i>
                              </span>
                              <mat-form-field>
                              <input matInput placeholder="Last Name" type="text" name="Name" minlength="2">
                              <!-- <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                  <mat-error *ngIf="name.errors.required">Name is required</mat-error>
                                  <mat-error *ngIf="name.errors.minlength">At least 2 characters required.</mat-error>
                              </mat-error> -->
                             </mat-form-field>
                          </div>
                       </div>

                       <div class="col-md-12">
                          <div class="input-group" style="margin-top: -38px;">
                              <span class="input-group-addon">
                                  <i class="material-icons" style="font-size: 16px;">email</i>
                              </span>
                              <mat-form-field>
                                  <input matInput placeholder="Email Address (This will be User Email Address)" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                                  <!-- <mat-error *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)">
                                        <mat-error *ngIf="emailAddress.errors.required">Email is required</mat-error>
                                       <mat-error *ngIf="emailAddress.errors.pattern">Please enter valid email</mat-error>
                                  </mat-error> -->
                         </mat-form-field>
                          </div>
                       </div>  
                     
                       <div class="col-md-12">
                            <div class="input-group" style="margin-top: -38px;">
                                  <span class="input-group-addon">
                                      <i class="material-icons" style="font-size: 16px;">business_center</i>
                                  </span>
                                  <mat-form-field>
                                      <input matInput placeholder="Company"  maxlength="32">
                                  </mat-form-field>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="input-group" style="margin-top: -38px;">
                                  <span class="input-group-addon">
                                      <i class="material-icons" style="font-size: 16px;">web</i>
                                  </span>
                                  <mat-form-field>
                                      <input matInput placeholder="Site"  maxlength="32">
                                  </mat-form-field>
                            </div>
                        </div>
                      
                          

                        
                        <h5 style="margin-top:0px">Subscription Chart</h5>
                        <table class="table table-bordered">
                            <thead>
                              <tr>
                                
                                <th scope="col">Type</th>
                                <th scope="col">Monthly</th>
                                <th scope="col">Yearly</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row" style="font-size: 12px;font-weight: normal;">RSC</th>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1"></label>
                                      </div>
                                </td>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                        <label class="form-check-label" for="inlineCheckbox1"></label>
                                      </div>
                                </td>
                               
                              </tr>
                              <tr>
                                <th scope="row" style="font-size: 12px;font-weight: normal;">MSC</th>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1"></label>
                                  </div></td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1"></label>
                                  </div></td>
                              
                              </tr>
                              <tr>
                                <th scope="row" style="font-size: 12px;font-weight: normal;">CSC</th>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1"></label>
                                  </div></td>
                                <td><div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label class="form-check-label" for="inlineCheckbox1"></label>
                                  </div></td>
                            </tr>
                            <tr>
                                <th scope="row" style="font-size: 12px;font-weight: normal;">Total</th>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                          </table>
                    </div>

                    <div class="form-actions text-center">
                            <button style="background-color:gray;color:white;width: 70px;
                            height: 32px;" mat-button 
                            type="button"
                            [disabled]="saving"
                            [routerLink]="['../login']">
                            {{ "Back" | localize }}
                        </button>
                        <span>&nbsp;</span>
                        <button style="background-color:#ff7d00;color:white;width: 70px;height:32px" mat-flat-button color="accent" 
                            [disabled]="!createUserForm.form.valid"
                            type="submit"
                            color="primary"
                            [disabled]="!registerForm.form.valid || saving">
                            {{ "Submit" | localize }}
                        </button>
                        
                    </div><br/>
    
                    <!-- <div>
                            <a href="/app/home" class="Link" style="margin-left: 140px;">Skip This Page</a>
                        </div> -->
            </form>
        </div>


        <!------------Section Second------------>
        <div class="col-md-6"  style="background-color:#eceef1;margin-top: -19px;float: right;margin-right: -20px;height: 762px;" >
          <h3 class="text-center" style="margin-top: 38px;font-weight: 600;font-size: 19px;line-height: 24px;">{{ "Robot Safety Center" | localize }}</h3><br>
          <h3 style="font-weight: 600;font-size: 19px;line-height: 24px;margin-top: -24px;" class="text-center">Free trial includes:</h3>

         
          <button type="button" class="btn bg-orange waves-effect" style="margin-top: 25px;margin-left: 83px;">
            <i class="material-icons">save</i>
         </button>
         <div style="margin-top: -28px;margin-left: 145px;font-size: 16px;font-weight: bold;">features and functionalities</div>

         <button type="button" class="btn bg-orange waves-effect" style="margin-top: 54px;margin-left: 83px;">
            <i class="material-icons">location_searching</i>
         </button>
         <div style="margin-top: -28px;margin-left: 145px;font-size: 16px;font-weight: bold;">Free training and support
        </div>
        

         <button type="button" class="btn bg-orange waves-effect" style="margin-top: 54px;margin-left: 83px;">
            <i class="material-icons">verified_user</i>
         </button>
         <div style="margin-top: -28px;margin-left: 145px;font-size: 16px;font-weight: bold;">Security and privacy
        </div>
        
         <button type="button" class="btn bg-orange waves-effect" style="margin-top: 54px;margin-left: 83px;">
            <i class="material-icons">extension</i>
         </button>
         <div style="margin-top: -28px;margin-left: 145px;font-size: 16px;font-weight: bold;">No payment details needed</div>
        
        
         <div style="margin-top:54px;margin-top: 54px;
         font-size: 16px;
         font-weight: bold;
         margin-left: 86px;">After trial, subscribe to Robot Safety Center at  4,999$ per year</div>

         <div style="margin-top:54px;margin-top: 54px;
         font-size: 16px;
         font-weight: bold;
         margin-left: 86px;">For special offers, call:
           </div>
       </div>

    </div>
  </div>
  
  
 
