<h4>site </h4>
<div class="main-content">
  <!-- <div class="row clearfix" [@routerTransition]> -->
  <div class="col-md-12">
    <div class="card" style="min-height: 370px;">
      <div class="card-body">
        <form autocomplete="off" #siteform="ngForm" (ngSubmit)="savesite(siteform.value)">

          <mat-form-field class="col-md-4">
            <mat-select matInput name="Ctype" placeholder="Type">
              <mat-option [value]="Billing">Billing</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="col-md-12">
              <input matInput name="site_name" placeholder="site Name" [(ngModel)]="site_name">
            </mat-form-field>
          
          <mat-form-field class="col-md-12">
            <input matInput name="company_name" placeholder="Adress">
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <input matInput name="company_name" placeholder=" State">
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <input matInput name="company_name" placeholder="City">
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <input matInput name="company_name" placeholder="Zipcode">
          </mat-form-field>
          <div class="pull-right">
            <button mat-raised-button class="btn btn-primary"> Add Site </button>
          </div>
        </form>
      </div>
    </div>
    <!-- </div> -->
  </div>

<!-- <app-add-site></app-add-site> -->






<!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
    <ng-container matColumnDef="site_name">
      <th mat-header-cell *matHeaderCellDef> Site Name </th>
      <td mat-cell *matCellDef="let element"> {{element.site_name}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->





<!-- <div *ngIf="!loading">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <table mat-table [dataSource]="dataSource">
       
        <ng-container matColumnDef="site_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</th>
          <td mat-cell *matCellDef="let element" style="width: 60%;">
            <a class="master-link">{{element.site_name}}</a>
          </td>
        </ng-container>
  
        <!-- <ng-container matColumnDef="customertypes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let element" style="width: 30%;">{{element.customertypes}}</td>
        </ng-container>
  
        <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-icon>contacts</mat-icon>
          </th>
          <td mat-cell *matCellDef="let element"> {{element.contactCount}} </td>
        </ng-container>
        <ng-container>
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
          </td>
        </ng-container>
   -->
  
        <!-- <tr mat-header-row *matHeaderRowDef="sitecolumn; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns : sitecolumn" style="cursor: pointer;" class="example-element-row"
        [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row.id)" (click)="viewLocation(row.customerId,row.id)"></tr> -->
        <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -
      </table>
      <div style="padding: 1px;">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
    </div>
  <!-- </div> -
  <div class="loading-div" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div> -->