h4{
  text-align:center;
  font-weight:none
}
.mat-header-th{
  padding-left: 80px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.loading-div {
	position: absolute;
	top: 40%;
	left: 45%;
}
.mat-header-td{
  padding-left: 85px;
}

.mat-header-type{
  padding-left: 315px;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.mat-elevation-z8{
  margin-left:170px;
  box-shadow: none;
}
table{
  width:90%;
}
.actionheader{
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 45px;
  color: black;
}
.actionrow{
  margin-left: 85px;
}
.btn btn-delete btn-round btn-default{
  width: 45%;
  margin-left:-22px;
  border-radius: 10px;
  background-color:gray;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  height: 28px;
}
.btn btn-delete btn-round btn-default{
  width: 45%;
  border-radius: 10px;
  background-color:orangered;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  height: 28px;
}

.actionbtnedit{
  width: 35%;
  border-radius: 10px;
  background-color:gray;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  height: 28px;
}

.actionbtndelete{
  width: 35%;
  border-radius: 10px;
  background-color:orangered;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  height: 28px;
}