<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>{{ "Users" | localize }}</h2>
              
               
                <ul class="header-dropdown m-r--5">
                    <li>
                        <button mat-icon-button [matMenuTriggerFor]="headerMenu" class="header-dropdown-mat-icon-button">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #headerMenu="matMenu">
                            <button mat-menu-item (click)="refresh()">
                                <mat-icon>refresh</mat-icon>
                                <span>{{ "Refresh" | localize }}</span>
                            </button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
            <button mat-mini-fab color="primary" class="pull-right" (click)="createUser()" style="margin-top: -50px;margin-right: 65px;">
                <mat-icon>add</mat-icon>
            </button>
            <div class="body table-responsive">
                <!--query start-->
                <div class="row clearfix">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search User">
                                </mat-form-field>
                            </div>
                       
                        </div>
                    </form>
                </div>
                <!--query end-->
                <!-- <table class="table table-hover table-striped"  [busy]="isTableLoading" >
                    <thead>
                        <tr>
                            <th>{{ "UserName" | localize }}</th>
                            <th>{{ "FullName" | localize }}</th>
                            <th>{{ "EmailAddress" | localize }}</th>
                            <th>
                                <div style="text-align:center">{{ "IsActive" | localize }}</div>
                            </th>
                            <th>{{ "Actions" | localize }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="
                let user of (users
                  | paginate
                    : {
                        id: 'server',
                        itemsPerPage: pageSize,
                        currentPage: pageNumber,
                        totalItems: totalItems
                      })
              ">
                            <td>{{ user.userName }}</td>
                            <td>{{ user.fullName }}</td>
                            <td>{{ user.emailAddress }}</td>
                            <td align="center">
                                <i class="material-icons" *ngIf="user.isActive" style="color:green;">
                                    check_box
                                </i>
                                <i class="material-icons" *ngIf="!user.isActive" style="color:red;">
                                    indeterminate_check_box
                                </i>
                            </td>
                            <td>
                                <button class="action-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <mat-menu #actionsMenu="matMenu">
                                    <button mat-menu-item (click)="editUser(user)">
                                        <mat-icon>edit</mat-icon>
                                        <span>{{ "Edit" | localize }}</span>
                                    </button>
                                    <button mat-menu-item (click)="delete(user)">
                                        <mat-icon>delete</mat-icon>
                                        <span>{{ "Delete" | localize }}</span>
                                    </button>
                                    <button mat-menu-item (click)="resetPassword(user)">
                                        <mat-icon>lock</mat-icon>
                                        <span>{{ "Reset Password" | localize }}</span>
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table> -->

                <!-- <div class="abp-pagination-controls-wrapper" *ngIf="totalItems > pageSize">
                    <abp-pagination-controls (pageChange)="getDataPage($event)" id="server">
                    </abp-pagination-controls>
                </div> -->
                <mat-table [dataSource]="dataSource" matSort>
                    <!-- <ng-container matColumnDef="userName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="fullName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.fullName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="emailAddress">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.emailAddress}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="creationTime">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Creation Time </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.creationTime | date:'LLLL dd, y'}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="isActive">
                        <mat-header-cell *matHeaderCellDef> IsActive </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <i class="material-icons" *ngIf="row.isActive" style="color:#3f51b5;">check_box</i>
                            <i class="material-icons" *ngIf="!row.isActive" style="color:red;">indeterminate_check_box</i>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button (click)="editUser(row)" class="mat-flat-button mat-primary margin" data-background-color="blue">Edit
                                <!-- <mat-icon class="material-icons">edit</mat-icon> -->
                            </button>
                            <button (click)="delete(row)" *ngIf="row.userName != 'admin'" class="mat-flat-button mat-accent" data-background-color="teal" style="margin-left: 20px;">Delete
                                <!-- <mat-icon class="material-icons">delete_sweep</mat-icon> -->
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                </div>
                <div *ngIf="dataSourceLength === 0">
                    <mat-toolbar>No records found! </mat-toolbar>
                </div>
                <div [hidden]="!dataSource">
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                </div>
               
            </div>
        </div>
    </div>
    
<div class="loading-div" *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
<style>
    .loading-div {
	position: absolute;
	top: 40%;
	left: 45%;
}
    </style>