
<div class="row clearfix">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 50px;">
      <form>
        <div class="info-box" style=" height: auto;text-align: center;border-radius: 4px;">
          <div class="content" style="width:auto"><br>
            <h4 class="text-center">Rsc Form</h4>
  
           
            <mat-form-field class="col-md-12">
              <mat-label>Task</mat-label>
              <mat-select matInput name="Task"> 
                <mat-option *ngFor="let sname of safegaurdlist">
                  
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="col-md-12">
              <mat-label>SubTask</mat-label>
              <mat-select name="SubTask"> 
                <mat-option *ngFor="let pname of protectivelist">
                 
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <mat-label>Hazards</mat-label>
                <mat-select name="SubTask"> 
                  <mat-option *ngFor="let pname of protectivelist">
                   
                  </mat-option>
                </mat-select>
              </mat-form-field>
  
          <div style="width: 280px;">
            <button mat-raised-button class="btn btn-primary btn-raised" style="    margin-left: 521px;width: 100px;
            background-color: orangered;">Save</button>
          </div>
  
          </div>
        </div>
      </form>
    </div>
  </div>
  
