﻿
	<div class="main-bg">
		<!-- title -->
		<!-- <h1>Latest Login Form</h1> -->
		<!-- //title -->
		<!-- content -->
		<div class="sub-main-w3">
			<div class="bg-content-w3pvt">
				<div class="top-content-style">
          <img src="../../../assets/images/logo_75_1.png" alt="" style="margin-top: -73px;" />
          <div class="heading">
            Welcome Robot Safety Center
         </div>
         
         <p>Login below to get started.</p>
        </div>
      
        <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
					<!-- <p class="legend">Login Here</p> -->
          <div class="col-sm-12">
            <div class="login-help" style="font-size: 17px;color: #333;margin-top: -46px;text-align: center;padding: 30px;">Login to your account</div>
            <mat-form-field>
                <input matInput name="userNameOrEmailAddress" [(ngModel)]="
                  loginService.authenticateModel.userNameOrEmailAddress
                " [placeholder]="'UserNameOrEmail' | localize" autocomplete="off" required maxlength="255" />
              </mat-form-field>

              <mat-form-field>
                  <input matInput type="password" name="password" [(ngModel)]="loginService.authenticateModel.password" [placeholder]="'Password' | localize"
                    required maxlength="32" />
              </mat-form-field>
          </div>
        
          <div class="row" style="margin-top: -1rem;">
            <div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
                  <mat-checkbox name="rememberMe" [(ngModel)]="loginService.rememberMe" style="    margin-left: -28px;font-size:12px">
                  {{ "RememberMe" | localize }}
                </mat-checkbox>
              </div>
              

          </div>
        </div>
        <div class="row">
          <div class="btn bg-grey waves-effect" style="margin-top: 20px; margin-bottom: 20px;height:32px;width:70px">
              <button mat-flat-button type="submit"  [disabled]="!loginForm.form.valid || submitting" 
              style="background-color:#ff7d00;color: white;margin-bottom: -25px;">
                {{ "LogIn" | localize }}
              </button>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" *ngIf="isSelfRegistrationAllowed">
              <div class="col-xs-4 p-t-5">
                  <a [routerLink]="['../register']">{{ "Register" | localize }}</a>
              </div>
          </div>
      </div>

      <div class="" >
        <a routerLink="/account/register" class="bottom-text-w3ls" style="margin-bottom: 0px;font-size: 14px;">
          <!-- <a [routerLink]="['../register']">{{ "Register" | localize }}</a> -->
          <u>{{l("Sign Up")}}</u></a>
       
    </div>

    <div class="" >
        <!-- <a routerLink="/account/register1" class="bottom-text-w3ls"> -->
      <!-- <a routerLink="/account/register1" class="bottom-text-w3ls" style="margin-bottom: 0px;font-size: 14px;"> -->
        <!-- <a [routerLink]="['../register']">{{ "Register" | localize }}</a> -->
        <!-- <u>{{l("Sign Up")}}</u></a> -->
     
  </div>


      <script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script > $("#login-button").click(function(event){
           event.preventDefault();
         
         $('form').fadeOut(500);
         $('.wrapper').addClass('form-success');
      });
      //# sourceURL=pen.js
      </script>


					<!-- <button type="submit" class="btn submit">
						<span class="fa fa-sign-in"></span>
					</button> -->
				</form>
        <!-- <a href="#" class="bottom-text-w3ls">Forgot Password?</a> -->
        <div class="">
          <a routerLink="/account/forgotpassword" class="bottom-text-w3ls">
     
            <u>{{l("Forgot your password?")}}</u></a>
         
      </div>
			</div>
		</div>
	
	</div>

<!-- <div class="login-box">
  <div clas="" style="text-align: center;margin-top: -42px;">
    <img class="" src="../../../assets/images/logo_75_1.png" />
  </div>

<div class="container">
    <div class="heading">
        Welcome Robot Safety Center
     </div>
     <p>Login below to get started.</p>
  <div class="card" [@routerTransition] style="margin-top: 45px;;">
      <div class="card-header card-header-icon card-header-rose">
        </div>

    <div class="card-body" style="height: 340px;">
      <form novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
          <div class="row">
              <div class="col-sm-12">
                  <div class="login-help" style="font-size: 17px;color: #333;text-align: center;padding: 30px;">Login to your account</div>
                  <mat-form-field>
                      <input matInput name="userNameOrEmailAddress" [(ngModel)]="
                        loginService.authenticateModel.userNameOrEmailAddress
                      " [placeholder]="'UserNameOrEmail' | localize" autocomplete="off" required maxlength="255" />
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput type="password" name="password" [(ngModel)]="loginService.authenticateModel.password" [placeholder]="'Password' | localize"
                          required maxlength="32" />
                    </mat-form-field>

              </div>
          </div>
          <div class="row" style="margin-top: -1rem;">
            <div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
                  <mat-checkbox name="rememberMe" [(ngModel)]="loginService.rememberMe">
                  {{ "RememberMe" | localize }}
                </mat-checkbox>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-right">
                  <a routerLink="/account/forgotpassword" class="m-link forget-password pull-right" style="margin-left: -50px">
             
                    <u>{{l("Forgot your password?")}}</u></a>
                 
              </div>

          </div>
        </div>
       
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 20px; margin-bottom: 20px;">
                  <button mat-flat-button type="submit"  [disabled]="!loginForm.form.valid || submitting" 
                  style=" width: 100px;background-color: orangered;color: white;">
                    {{ "LogIn" | localize }}
                  </button>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right" *ngIf="isSelfRegistrationAllowed">
                  <div class="col-xs-4 p-t-5">
                      <a [routerLink]="['../register']">{{ "Register" | localize }}</a>
                  </div>
              </div>
          </div>

      </form>
    </div>
  </div>
</div>
</div> -->
