<!-- <h4>Add-Company </h4>

<form #companyform="ngForm" (ngSubmit)="savecompany(companyform.value);">
  <mat-form-field>
    <mat-select matInput name="company_name" [(ngModel)]="company_name" placeholder="company Name"
      (ngModelChange)="onChange1($event)">
      <mat-option *ngFor="let company_name of companylist" [value]="company_name.company_name">
        {{company_name.company_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <mat-checkbox (change)="newcompany($event)">Add New Company</mat-checkbox>
  </div>
  <div *ngIf="enableNewComapany">
    <mat-form-field>
      <input matInput name="company_name" placeholder="New Company Name" [(ngModel)]="company_name">
    </mat-form-field>
  </div>
  <div calss="pull-right">
    <button style="background-color:black;color:white">cancel</button>&nbsp;&nbsp;
    <button style="background-color:black;color:white">save</button>
  </div>
</form> -->