h4{
  text-align: left;
  margin-left: 6px;;
  font-weight: bold;
  color: #797a84;
}
.mat-header-th{
  padding-left: 80px;
  font-size: 14px;
  font-weight: bold;
 
}

.mat-header-td{
  padding-left: 85px;
}

.mat-header-type{
  padding-left: 315px;
  font-size: 14px;
  font-weight: bold;
 
}
.mat-elevation-z8{
  margin-left:155px;
  box-shadow: none;
}
table{
  width:90%;
}
.actionheader{
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 125px;
 
}
.actionrow{
  margin-left: 85px;
}
.btn btn-delete btn-round btn-default{
  width: 45%;
  margin-left:-22px;
  border-radius: 10px;
  background-color:gray;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  height: 28px;
}
.btn btn-delete btn-round btn-default{
  width: 45%;
  border-radius: 10px;
  background-color:orangered;
  font-size: 10px;
  color: white;
  margin-top: 5px;
  height: 28px;
}
/* .actionbtnedit{
  background-color:orangered;
  width:80px;
} */

.tr.mat-header-row{
  height:0px;
}



.card{
  border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    margin-top: -30px;
}

/* row search-bg{
    background-image: url("../../../assets/images/serach_bg.e19bda2….png"); 
    background-repeat: repeat-x;
    height: 60px;
    transition: width 2s;
} */


.loading-div {
	position: absolute;
	top: 40%;
	left: 45%;
}