﻿<div class="card" [@routerTransition] style="min-height:322px;width: 650px;margin-left: -115px;">
    <div class="body">
        <div #modalContent>

        <img src="../../../assets/images/cuser.png" alt="" style="height: 65px;margin-left: 272px;" />
        <form autocomplete="off" #createUserForm="ngForm" id="frm_create_user" (ngSubmit)="save()">
            <h4 class="text-center">{{ "Create User" | localize }}</h4><br>
            <div class="form-group form-float">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group" style="margin-top: -20px;">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size: 16px;">person</i>
                            </span>

                            <mat-form-field>
                                <input matInput placeholder="First Name" type="text" name="Name" #name="ngModel"
                                    [(ngModel)]="user.name" required maxlength="32" minlength="2">
                                <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                    <mat-error *ngIf="name.errors.required">Name is required</mat-error>
                                    <mat-error *ngIf="name.errors.minlength">At least 2 characters required.</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group" style="margin-top: -20px;">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size: 16px;">person</i>
                            </span>

                            <mat-form-field>
                                <input matInput app-restrict-input="name" placeholder="Last Name" type="text"
                                    #surname="ngModel" name="surname" [(ngModel)]="user.surname" required maxlength="32"
                                    minlength="2">
                                <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                                    <mat-error *ngIf="surname.errors.required">Surname is required</mat-error>
                                    <mat-error *ngIf="surname.errors.minlength">At least 2 characters required.
                                    </mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" style="margin-top: -40px;">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size: 16px;">email</i>
                            </span>
                            <mat-form-field>
                                <input matInput placeholder="Email Address (This will be User Email Address)"
                                    #emailAddress="ngModel" type="email" name="emailAddress" required
                                    [(ngModel)]="user.emailAddress" maxlength="256"
                                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                                <mat-error *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)">
                                    <mat-error *ngIf="emailAddress.errors.required">Email is required</mat-error>
                                    <mat-error *ngIf="emailAddress.errors.pattern">Please enter valid email</mat-error>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group" style="margin-top: -40px;">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size: 16px;">email</i>
                            </span>
                            <mat-form-field>
                                <input matInput name="companyName" placeholder="CompanyName"
                                    [(ngModel)]="user.companyName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group" style="margin-top: -40px;">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size: 16px;">email</i>
                            </span>
                            <mat-form-field>
                                <input matInput name="site" placeholder="Site" [(ngModel)]="user.site">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

               

                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group" style="margin-top: -40px;">
                            <span class="input-group-addon">
                                <i class="material-icons" style="font-size: 16px;">email</i>
                            </span>
                            <mat-form-field>
                                <input matInput name="totalAmount" placeholder="Total Amount"
                                    [(ngModel)]="user.totalAmount">
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <fieldset class="col-sm-12">
                    <div class="form-group">
                 
                        <label class="Boldcreate">User Roles</label>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mat-checkbox" style="margin-left: -15px;">
                                    <ng-template ngFor let-role [ngForOf]="roles" let-roleIndex="index">
                                        <mat-checkbox class="col-sm-4" color="primary" name="role" value="{{role.normalizedName}}" title="{{role.description}}" id="role-{{roleIndex}}">{{role.name}}</mat-checkbox>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
   

                <h5 style="margin-top:0px">Subscription Chart</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th scope="col">Type</th>
                            <th scope="col">Monthly</th>
                            <th scope="col">Yearly</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="font-size: 12px;font-weight: normal;">RSC</th>
                            <td>
                              <mat-checkbox class="col-sm-4"  color="primary" name="role"></mat-checkbox>
                            </td>
                            <td>
                               <mat-checkbox class="col-sm-4"  color="primary" name="role"></mat-checkbox>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" style="font-size: 12px;font-weight: normal;">MSC</th>
                            <td>
                              <mat-checkbox class="col-sm-4"  color="primary" name="role"></mat-checkbox>
                            </td>
                            <td>
                               <mat-checkbox class="col-sm-4"  color="primary" name="role"></mat-checkbox>
                            </td>

                        </tr>
                        <tr>
                            <th scope="row" style="font-size: 12px;font-weight: normal;">CSC</th>
                            <td>
                              <mat-checkbox class="col-sm-4"  color="primary" name="role"></mat-checkbox>
                            </td>
                            <td>
                               <mat-checkbox class="col-sm-4"  color="primary" name="role"></mat-checkbox>
                            </td>
                        </tr>

                        <tr>
                            <th scope="row" style="font-size: 12px;font-weight: normal;">Total</th>
                            <td></td>
                            <td></td>


                        </tr>
                    </tbody>
                </table>


            </div>










            <div class="form-actions text-center">
                <button style="background-color:gray;color:white;width: 70px;
                            height: 32px;" mat-button type="button" [disabled]="saving" [routerLink]="['../login']">
                    {{ "Back" | localize }}
                </button>
                <span>&nbsp;</span>
                <button style="background-color:#ff7d00;color:white;width: 70px;height:32px" mat-flat-button
                    color="accent" [disabled]="!createUserForm.form.valid" type="submit" color="primary"
                    [disabled]="!registerForm.form.valid || saving">
                    {{ "Submit" | localize }}
                </button>

            </div><br />

            <!-- <div>
                            <a href="/app/home" class="Link" style="margin-left: 140px;">Skip This Page</a>
                        </div> -->
        </form>
    </div>
    </div>
</div>