﻿<form autocomplete="off" #editUserModal="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>{{ "EditUser" | localize }}</h1>
  <mat-dialog-content style="width:800px;height:250px;">
    <mat-tab-group>
      <mat-tab [label]="'UserDetails' | localize">
        <br />
        <div class="row-fluid">
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                name="UserName"
                [placeholder]="'UserName' | localize"
                [(ngModel)]="user.userName"
                required
                minlength="2"
                maxlength="32"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="Name"
                [placeholder]="'Name' | localize"
                [(ngModel)]="user.name"
                required
                maxlength="32"
              />
            </mat-form-field>
            <div class="checkbox-wrapper">
              <mat-checkbox name="IsActive" [(ngModel)]="user.isActive">
                {{ "IsActive" | localize }}
              </mat-checkbox>
            </div>
          </div>
          <div class="col-md-6">
            <mat-form-field>
              <input
                matInput
                name="EmailAddress"
                [placeholder]="'EmailAddress' | localize"
                [(ngModel)]="user.emailAddress"
                type="email"
                required
                maxlength="256"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                name="Surname"
                [placeholder]="'Surname' | localize"
                [(ngModel)]="user.surname"
                required
                maxlength="32"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
      <mat-tab [label]="'UserRoles' | localize">
        <br />
        <div class="row-fluid">
          <ng-template ngFor let-role [ngForOf]="roles">
            <div class="col-sm-6">
              <div class="checkbox-wrapper">
                <mat-checkbox
                  [checked]="isRoleChecked(role.normalizedName)"
                  (change)="onRoleChange(role, $event)"
                >
                  {{ role.name }}
                </mat-checkbox>
              </div>
            </div>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button
      mat-flat-button
      type="submit"
      flex="15"
      color="primary"
      [disabled]="!editUserModal.form.valid || saving"
    >
      {{ "Save" | localize }}
    </button>
  </div>
</form>

<style>
  .modal-title{
     text-align: center;
     margin-top: 20px;
  }
  .modal{
     margin-right: -30px;
     margin-top: -25px;
  }
  .modal-dialog{
     float:left;
     margin-left: -300px;
  }
</style>