<h4 style="text-align: center;margin-bottom: 20px;color:gray"> Add New Protective Measure </h4>

<form #protectiveform="ngForm" (ngSubmit)="saveprotective(protectiveform.value); ">
  <input *ngIf="Protectiveedit.id" type="hidden" name="id" [(ngModel)]="Protectiveedit.id">

  <mat-form-field>
    <input matInput name="protective_name" placeholder="New Protective Measure" [(ngModel)]="Protectiveedit.protective_name" required>
  </mat-form-field>
    <div style="color:gray;font-weight:normal;margin-top: 15px;">
        <h5> Select Type :</h5>
     
        <mat-checkbox name="rsc" [(ngModel)]="Protectiveedit.rsc" [checked]="protectiveform.rsc">RSC</mat-checkbox><br>
        <mat-checkbox name="msc" [(ngModel)]="Protectiveedit.msc" [checked]="protectiveform.msc">MSC</mat-checkbox><br>
        <mat-checkbox name="csc" [(ngModel)]="Protectiveedit.csc" [checked]="protectiveform.csc">CSC</mat-checkbox><br>
        <mat-checkbox  name="defaultcheck" [(ngModel)]="Protectiveedit.defaultcheck" [checked]="protectiveform.defaultcheck" >Default</mat-checkbox>
      </div>

    
   
    <div class="button" style="text-align: right"> 
      <button type="button"  class ="btn btn-primary" style="background-color:gray;float: left;" (click)="closeDialog()" >Cancel</button> &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" style="background-color: orangered;float: right;"[disabled]="!protectiveform.valid">{{ buttonShow ? 'Update Protective' :'Add Protective' }}</button>
    </div>
</form>
