<div class="row clearfix"  style="margin-left: 200px;">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
       <h4 style="margin-bottom: 22px;margin-top: 20px;margin-left: -97px;color:gray">Task Details</h4>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
        <button class="" mat-raised-button (click)="openDialog()"
         style="background-color:#ff7d00;float: right;margin-right: 130px;color: white;height: 32px;
         border-radius: 20px;font-size:12px;margin-top: 14px;" >Add New Task</button>


    </div>
    
    <div class="col-xs-12 col-md-12" style="margin-left: -106px;">
        <div class="card" style="width:none">
            <div class="header">
               <div class="">
                    <mat-form-field style="margin-bottom: -28px;
                    margin-top: -20px;
                    width: 20%;">
                       <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                </div> 
              
            </div>
            <div class="body table-responsive">
                         
                    <table class="table table-striped" style="margin-top: -30px;" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
                    
                        <ng-container matColumnDef="task">
                             <th mat-header-cell *matHeaderCellDef style="font-size: 14px;font-weight: bold;"> Task </th>
                              <td mat-cell *matCellDef="let row" class="mat-header-td"> {{row.task_name}} </td>
                        </ng-container>
                        <ng-container matColumnDef="rsc">
                                <th mat-header-cell *matHeaderCellDef> RSC </th>
                                <td mat-cell *matCellDef="let row">
                                    <i class="material-icons" *ngIf="row.rsc" style="color:#3f51b5;">check_box</i>
                                    <i class="material-icons" *ngIf="!row.rsc" style="color:red;">indeterminate_check_box</i>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="msc">
                                    <th mat-header-cell *matHeaderCellDef> MSC </th>
                                    <td mat-cell *matCellDef="let row">
                                        <i class="material-icons" *ngIf="row.msc" style="color:#3f51b5;">check_box</i>
                                        <i class="material-icons" *ngIf="!row.msc" style="color:red;">indeterminate_check_box</i>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="csc">
                                        <th mat-header-cell *matHeaderCellDef> CSC </th>
                                        <td mat-cell *matCellDef="let row">
                                            <i class="material-icons" *ngIf="row.csc" style="color:#3f51b5;">check_box</i>
                                            <i class="material-icons" *ngIf="!row.csc" style="color:red;">indeterminate_check_box</i>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="defaultcheck">
                                            <th mat-header-cell *matHeaderCellDef> Default Check </th>
                                            <td mat-cell *matCellDef="let row">
                                                <i class="material-icons" *ngIf="row.defaultcheck" style="color:#3f51b5;">check_box</i>
                                                <i class="material-icons" *ngIf="!row.defaultcheck" style="color:red;">indeterminate_check_box</i>
                                            </td>
                                        </ng-container>
               
                
                
                        <ng-container matColumnDef="Action" style="float:right;">
        
                            <mat-header-cell *matHeaderCellDef style="margin-right:84px;font-size: 14px;font-weight: bold;margin-top: 30px;float:right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let row" style="float:right;margin-right: 38px;margin-top: 7px;">
                               <button (click)="EditRSCTask(row.id)" class="btn bg-grey waves-effect" style="width:60px">Edit</button>
                               &nbsp;&nbsp;&nbsp;&nbsp;
                               <button (click)="DeleteTasks(row.id)"  data-toggle="modal" data-target="#delete" class="btn bg-red waves-effect" style="width:60px"> Delete</button>
                            </mat-cell>
                        </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="taskColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: taskColumns;"></tr>
                </table>
                <div *ngIf="dataSourceLength === 0">
                    <mat-toolbar>No Records Found !!! </mat-toolbar>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-left: -266px;margin-top: 150px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" style="text-align-last: center">Delete Confirmation ?</h4>
                <button mat-button type="button"   style="margin-top: -30px" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                    <p>Are you sure you want to DELETE ?</p>
                </div>
            </div>
            <div class="modal-footer">
                    <button mat-raised-button type="button" class="mat-flat-button mat-accent margin"  style="float: left;"
                    data-dismiss="modal">Cancel</button>
              <button mat-raised-button type="button"   style="float: right;"
              class="btn btn-primary" (click)="deleteItem(deleteId)" 
               data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
  </div>

  <div class="loading-div" *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
