    <!-- <h4 style="text-align:center;
    margin-bottom:30px">Add New Sub Task </h4> -->

<h4 style="text-align: center;margin-bottom: 20px;color:gray"> Add New SubTask </h4>
    


    <form #subTaskform="ngForm" (ngSubmit)="saveSubTask(subTaskform.value);">
    <input *ngIf="subTaskedit.id" type="hidden" name="id" [(ngModel)]="subTaskedit.id" >
    <!-- <input *ngIf=" RSCTaskedit.id" type="hidden" name="id" [(ngModel)]="RSCTaskedit.id"> 
   -->
   
    <mat-form-field>
    <input matInput name="subTask_name" placeholder="Sub Task Name" [(ngModel)]="subTaskedit.subTask_name" required >
    </mat-form-field> 
    <div style="color:gray;font-weight:normal;margin-top: 15px;">
      

          <h5>Select Type :</h5>
          <!-- <section class="col-sm-2">
          <mat-checkbox name="rsc" [(ngModel)]="subTaskedit.rsc"
          [checked]="subTaskform.rsc">
          RSC</mat-checkbox>
          </section>
          <section class="col-sm-2">
          <mat-checkbox name="msc" [(ngModel)]="subTaskedit.msc"
          [checked]="subTaskform.msc">
          MSC</mat-checkbox>
          </section>
          <section class="col-sm-2">
          <mat-checkbox name="csc" [(ngModel)]="subTaskedit.csc"
          [checked]="subTaskform.csc">
          CSC</mat-checkbox>
          </section>
          <section class="col-sm-2">
          <mat-checkbox name="defaultcheck" [(ngModel)]="subTaskedit.defaultcheck"
          [checked]="subTaskform.defaultcheck">
       Default</mat-checkbox>
       </section> -->
       <mat-checkbox name="rsc" [(ngModel)]="subTaskedit.rsc" [checked]="subTaskform.rsc">RSC</mat-checkbox><br>
       <mat-checkbox name="msc" [(ngModel)]="subTaskedit.msc" [checked]="subTaskform.msc">MSC</mat-checkbox><br>
       <mat-checkbox name="csc" [(ngModel)]="subTaskedit.csc" [checked]="subTaskform.csc">CSC</mat-checkbox><br>
       <mat-checkbox  name="defaultcheck" [(ngModel)]="subTaskedit.defaultcheck" [checked]="subTaskform.defaultcheck" >Default</mat-checkbox>

        </div>
        
     
      <mat-form-field *ngIf="!TaskID">
      <mat-label> Task Name</mat-label>
      <mat-select matInput [(ngModel)]="task_name" name="task_name"  [(value)]="task_name" (ngModelChange)="onChange1($event)"
      placeholder="Task Name" required>
      <mat-option *ngFor="let task of taskObject" [value]="task">
      {{task.task_name}}
      </mat-option>
      </mat-select>       
           
      </mat-form-field>
      <mat-form-field *ngIf="TaskID">
        <mat-label> Task Name</mat-label>
        <mat-select matInput [(ngModel)]="taskid" name="task_name"  [(value)]="task_name" (ngModelChange)="onChange($event)"
        placeholder="Task Name" required>
        <mat-option *ngFor="let task of taskObject" [value]="task.id">
        {{task.task_name}}
        </mat-option>
        </mat-select>       
             
        </mat-form-field>
      
 

 

        

        <!-- <div  style="color:gray;font-weight:normal;margin-top: 15px;">

            <div class="col-md-3" style="margin-top:15px"> <mat-checkbox >Default</mat-checkbox></div>

        </div><br><br><br> -->

 <div class="button">

   <button  type="button" class ="btn btn-primary" style="background-color:gray;float: left;" (click)="closeDialog()" >Cancel</button>&nbsp;&nbsp;

    <button  type="submit" class="btn btn-primary" style="background-color: orangered;float:right;"[disabled]="!subTaskform.valid">{{ buttonShow ? 'Update SubTask' :'Add SubTask' }}</button>

</div>

</form>

