<!-- <h4 style="text-align: center;
   margin-bottom: 30px;">Add New Task </h4> -->
   <h4 style="text-align: center;margin-bottom: 20px;color:gray"> Add New Task </h4>

<form #taskform="ngForm" (ngSubmit)="saveTask(taskform.value); ">
        <input *ngIf="RSCTaskedit.id" type="hidden" name="id" [(ngModel)]="RSCTaskedit.id">
    <mat-form-field>
        <input matInput name="task_name" placeholder="Task Name" [(ngModel)]="RSCTaskedit.task_name" required>
    </mat-form-field>
    <div style="color:gray;font-weight:normal;margin-top:15px">

        <h5>Select Type :</h5>
      
       
        <mat-checkbox name="rsc" [(ngModel)]="RSCTaskedit.rsc"
        [checked]="taskform.rsc">
        RSC</mat-checkbox><br>
     
        <mat-checkbox name="msc" [(ngModel)]="RSCTaskedit.msc"
        [checked]="taskform.msc">
        MSC</mat-checkbox><br>
 
        <mat-checkbox name="csc" [(ngModel)]="RSCTaskedit.csc"
        [checked]="taskform.csc">
        CSC</mat-checkbox><br>
      
        <mat-checkbox name="defaultcheck" [(ngModel)]="RSCTaskedit.defaultcheck"
        [checked]="taskform.defaultcheck">
     Default</mat-checkbox>
     
            
    </div>

    <div class="button">
            <button type="button"  class ="btn btn-primary" style="background-color:gray;float: left;" (click)="closeDialog()" >Cancel</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-primary" style="background-color: orangered;float:right;"[disabled]="!taskform.valid">{{ buttonShow ? 'Update Task' :'Add Task' }}</button>
           
          </div>
</form>