<!-- 
<h4>Register</h4>

<div class="row clearfix">
  <div class="col-md-12">
    <form #register="ngForm" (ngSubmit)="SaveUser(register.value); register.reset();">
      <div class="info-box" style=" height: auto;text-align: center">
        <div class="content" style="width:auto"><br>

          <mat-form-field>
            <mat-select matInput name="company_name" [(ngModel)]="company_name" placeholder="company Name"
              (ngModelChange)="onChange1($event)" [disabled]="enableExCompany">
              <mat-option *ngFor="let company_name of companylist" [value]="company_name.company_name">
                {{company_name.company_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field class="col-md-12">
            <mat-select placeholder="Site">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-md-12">
            <mat-checkbox>Is Evaluation ?</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-checkbox>No Email</mat-checkbox>
          </div>

          <mat-form-field class="col-md-12">
            <mat-select placeholder="Select Limit">
              <mat-option value="option">option</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-12">
            <input matInput placeholder="Email Id">
          </mat-form-field>
         
<div>
  <mat-checkbox>Safety Expert</mat-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <mat-checkbox>Risk Manager</mat-checkbox>
</div>

          <button mat-raised-button class="btn btn-primary btn-raised pull-right"
          [disabled]="!register.valid">{{ buttonShow ? 'Update  User' :'Add User' }}
        </button>&nbsp;&nbsp;


        </div>
      </div>
    </form>
  </div>
</div> -->