<div class="main-content">

    <div class="row justify-content-md-center">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <!-- <div class="card-header card-header-icon card-header-rose card-header-text">
                    <div class="card-icon">
                        Set New Password
                    </div>
                </div> -->
                <div class="card-body table-responsive">
                    <form #changePasswordForm="ngForm" id="frm_change_password" novalidate (ngSubmit)="save(changePasswordForm.value)">
                        <div class="animated fadeIn active" id="customer-details">
                            <!-- <div class="clearfix" style="margin-top:10px;">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div>
                                            <label class="form-label">{{appSession.user.userName}} ({{appSession.user.emailAddress}})</label>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="currentPassword" type="password" name="currentPassword" [(ngModel)]="changePassword.currentPassword" required maxlength="32" minlength="2" class="validate form-control">
                                        <label for="currentPassword" class="form-label">{{("Current Password")}}</label>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                            <div class="clearfix">
                                <!-- <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input id="newPassword" type="password" name="newPassword" [(ngModel)]="changePassword.newPassword" required maxlength="32" class="validate form-control">
                                        <label for="newPassword" class="form-label">{{("New Password")}}</label>
                                    </div>
                                </div>
                            </div> -->

                                <fieldset class="col-sm-12" ngModelGroup="passwordGroup">
                                    <!-- <div class="form-group" [class.has-error]="currentPassword.touched && currentPassword.invalid">
                                        <mat-form-field>
                                            <input matInput placeholder="Current Password" id="currentPassword" #currentPassword="ngModel" type="password" name="currentPassword"
                                                [(ngModel)]="changePassword.currentPassword" #currentPassword="ngModel" required
                                                maxlength="32">
                                        </mat-form-field>
                                        <mat-error *ngIf="currentPassword.touched && currentPassword.errors?.required">
                                            Cureent password is required
                                        </mat-error>

                                    </div> -->
                                    <div class="form-group" [class.has-error]="password.touched && password.invalid">
                                        <mat-form-field>
                                            <input matInput placeholder="Enter Your New Password" id="password" #password="ngModel" type="password" name="password" [(ngModel)]="changePasswordForm.password"
                                                #password="ngModel" required maxlength="32" (change)="confirmPassword.control.updateValueAndValidity()">
                                        </mat-form-field>
                                        <mat-error *ngIf="password.touched && password.errors?.required">
                                            Password is required
                                        </mat-error>

                                    </div>
                                    <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                                        <mat-form-field>
                                            <input matInput placeholder="Confirm Password" appConfirmEqualValidator="password" required id="confirmPassword" type="password"
                                                name="confirmPassword" [(ngModel)]="changePasswordForm.confirmPassword" #confirmPassword="ngModel">
                                        </mat-form-field>
                                        <mat-error *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                                            Please confirm your password
                                        </mat-error>
                                        <mat-error *ngIf="confirmPassword.dirty && confirmPassword.errors?.notEqual &&
                                            !confirmPassword.errors?.required">
                                            New password and Confirm Password does not match
                                        </mat-error>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-delete" type="button" (click)="changePasswordForm.resetForm()">
                                Cancel
                            </button>
                            &nbsp;
                            <button [disabled]="!changePasswordForm.form.valid" class="btn btn-add"
                                type="submit">
                                Change Password
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>