
<div class="card">
    <div class="body">
        <img src="../../../assets/images/fpwd1.jpg" alt="" style="height: 65px;
        margin-left: 165px;" />
        <form #forgotPassForm="ngForm" id="LoginForm" method="post" novalidate (ngSubmit)="save(forgotPassForm.value)">
                <h4 class="text-center">Forgot Password</h4>    <br>        
            <p style="margin-bottom: 30px;">
                Reset Password Link Will be sent to your Registered e-mail address.
            </p>
            <div class="row">
                <div class="col-sm-12">
                        <div class="input-group" style="margin-top: -20px;">
                        <span _ngcontent-yvm-c2="" class="input-group-addon"><i _ngcontent-yvm-c2="" class="material-icons">email</i></span>
                    <mat-form-field>
                        <input matInput #email="ngModel" [(ngModel)]="forgotPassForm.emailAddress" autoFocus type="text" 
                            autocomplete="off" placeholder="{{l('Enter your email address')}}" name="emailAddress" 
                            required maxlength="256" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$" />
                                                          
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)" >
                        <mat-error *ngIf="email.errors.required">Email is required</mat-error>                                                
                            <mat-error *ngIf="email.errors?.pattern">Email is not valid</mat-error>
                        </mat-error>
                        
                    </mat-form-field> 
                    </div>
                </div>

                <div class="form-actions text-center">
                     
                      <button [disabled]="saving" routerLink="/account/login" class="button" mat-flat-button type="submit" style="background-color:gray;color:white;width: 70px;
                      height: 32px;">Cancel</button><span>&nbsp;</span>    
                      <button [disabled]="!forgotPassForm.form.valid" class="button" mat-button type="submit" style="background-color:#ff7d00;color:white;width: 70px;height:32px">Submit</button>
                      
                  </div>
               
                <div class="col-sm-12" *ngIf="saving==true">
                    <p style="color: green" *ngIf="true">.</p>
                    <!--Reset Password Link has been sent to your registered e-mail address-->
                    <p style="color: red" *ngIf="false">E-mail not found.</p>
                </div>
            </div>



        </form>
     
    </div>
  </div>
  
  