<!-- <h4 style="text-align:center;margin-bottom:30px">Add New Hazard</h4> -->
<h4 style="text-align: center;margin-bottom: 20px;color:gray"> Add New Hazard </h4>
<!-- <div class="modal-content">
    <div class="modal-body"> -->
<form #hazardsform="ngForm" (ngSubmit)="saveHazards(hazardsform.value);">
    <input *ngIf="Hazardsedit.id" type="hidden" name="id" [(ngModel)]="Hazardsedit.id">
    <!-- <div class="card-body bg-white br-radius-5"> -->
  <mat-form-field>
    <input matInput name="hazards_name" placeholder="New Hazard" [(ngModel)]="Hazardsedit.hazards_name" required>
  </mat-form-field>
  
  <div style="color:gray;font-weight:normal;margin-top:15px">
      <h5>Select Type : </h5>
      <mat-checkbox name="rsc" [(ngModel)]="Hazardsedit.rsc" [checked]="hazardsform.rsc">RSC</mat-checkbox><br>
      <mat-checkbox name="msc" [(ngModel)]="Hazardsedit.msc" [checked]="hazardsform.msc">MSC</mat-checkbox><br>
      <mat-checkbox name="csc" [(ngModel)]="Hazardsedit.csc" [checked]="hazardsform.csc">CSC</mat-checkbox><br>
      <mat-checkbox name="power_Force" [(ngModel)]="Hazardsedit.power_Force" [checked]="hazardsform.power_Force">Power_Force</mat-checkbox><br>
      <mat-checkbox  name="defaultcheck" [(ngModel)]="Hazardsedit.defaultcheck" [checked]="hazardsform.defaultcheck" >Default</mat-checkbox>
    </div>

    <!-- <div class="col-md-6" style="color:gray;font-weight:normal;margin-left: -6px;margin-top: 15px;">
        <mat-form-field>
            <mat-label>Task</mat-label>
            <mat-select>
              <option value="sample">sample</option>
            </mat-select>
            
          </mat-form-field>
        </div>
        <div class="col-md-6" style="color:gray;font-weight:normal;margin-left: -6px;margin-top: 15px;">
            <mat-form-field>
                <mat-label>SubTask</mat-label>
                <mat-select>
                  <mat-option value="example">example</mat-option>
                </mat-select>
              </mat-form-field>
        </div> -->
        <!-- <div style="color:gray;font-weight:normal;">
            <div class="col-md-3" style="margin-top:15px"> <mat-checkbox >Default</mat-checkbox></div>
        </div><br><br><br> -->

<!-- </div> -->
<div class="button">
    <button type="button"  class ="btn btn-primary" style="background-color:gray;float: left;" (click)="closeDialog()" >Cancel</button> &nbsp;&nbsp;
    <button type="submit" class="btn btn-primary" style="background-color: orangered;float: right;"[disabled]="!hazardsform.valid">{{ buttonShow ? 'Update Hazard' :'Add Hazard' }}</button>
   
  </div>

</form>
<!-- </div>
</div> -->

  
