﻿<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <img class="" src="../../../assets/images/logo_RBC1.png" style="float: left;margin-top: 4px;" />
            <a class="navbar-brand" style="color: white; margin-left: -59px;">Robot Safety Center</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right" >
              
                <li><a [routerLink]="['/app/home']" ><i class="glyphicon glyphicon-th" ></i>&nbsp;&nbsp;Dashboard</a></li>
                <li><a [routerLink]="['/app/task']"><i class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp; Task</a> </li>
                <li><a [routerLink]="['/app/subTask']"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;SubTask</a></li>
                <li> <a [routerLink]="['/app/hazards']"><i class="glyphicon glyphicon-share"></i>&nbsp;&nbsp;Hazards</a></li>
                <li><a [routerLink]="['/app/safeguard']"><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Safeguard</a></li>
                <li> <a [routerLink]="['/app/protectivemeasure']"><i class="glyphicon glyphicon-download"></i>&nbsp;&nbsp;Protective Measure</a> </li>
                <li> <a [routerLink]="['/app/safetychain']"><i class="glyphicon glyphicon-cloud"></i>&nbsp;&nbsp; Safety Chain</a> </li>
                <li> <a [routerLink]="['/app/users']"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; User Information</a> </li>
                <li> <a [routerLink]="['/app/Roles']"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;Roles</a> </li>

                <li> <a (click)="logout()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Logout</a></li>

                
<!--                 
                <li [routerLink]="['/app/home']"><i class="glyphicon glyphicon-th" ></i>&nbsp;&nbsp;Dashboard</li>
                <li [routerLink]="['/app/task']"><i class="glyphicon glyphicon-tasks"></i>&nbsp;&nbsp; Task </li>
                <li [routerLink]="['/app/subTask']"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;SubTask</li>
                <li [routerLink]="['/app/hazards']"> <i class="glyphicon glyphicon-share"></i>&nbsp;&nbsp;Hazards</li>
                <li [routerLink]="['/app/safeguard']"><i class="glyphicon glyphicon-off"></i>&nbsp;&nbsp;Safeguard</li>
                <li [routerLink]="['/app/protectivemeasure']"> <i class="glyphicon glyphicon-download"></i>&nbsp;&nbsp;Protective Measure </li>
                <li [routerLink]="['/app/safetychain']"> <i class="glyphicon glyphicon-cloud"></i>&nbsp;&nbsp; Safety Chain</li>
                <li [routerLink]="['/app/users']"> <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; User Information </li>
                <li> <a (click)="logout()"><i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Logout</a></li> -->
            </ul>
        </div>
    </div>
</nav>

<style>
    .nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
    </style>