<!-- <p>
  resetpassword works!
</p> -->

<div class="container">
  <div class="card" style="margin-left: 15px;">
    <div class="body">

      <form>
        <h4 class="text-center">Reset Password</h4>


        <div class="form-group form-float">
          <mat-form-field>
            <input matInput name="New Password" [placeholder]="'New Password' | localize" required maxlength="32" />
          </mat-form-field>

          <mat-form-field>
            <input matInput name="Confirm Password" [placeholder]="'Confirm Password' | localize" required
              maxlength="32" />
          </mat-form-field>
        </div>
        <div class="form-actions text-center">
          <button class="button" mat-button type="button"
            style="width:80px;background-color:orangered;color:white">Submit</button>
          <span>&nbsp;</span>
          <button class="button" mat-flat-button type="submit"
            style="width:80px;background-color:orange;color:white">Cancel</button>
        </div>

      </form>

    </div>
  </div>
</div>