
<div class="row clearfix">
  <div class="col-md-6 col-md-offset-3" style="margin-top: 50px;">
    <form #safetychainform="ngForm" (ngSubmit)="savechain(safetychainform.value);">
      <div class="info-box" style=" height: auto;text-align: center;border-radius: 4px;">
        <div class="content" style="width:auto"><br>
          <h4 class="text-center;margin-bottom:20px;">Safety Chain </h4>

          <mat-form-field class="col-md-12">
            <input matInput name="sc_name" [(ngModel)]="sc_name" placeholder="Chain Name" required> 
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>Safeguard</mat-label>
            <mat-select matInput name="safeguard_name" [(ngModel)]="safeguard_name" multiple> 
              <mat-option *ngFor="let sname of safegaurdlist" [value]="sname.safeguard_name">
                {{sname.safeguard_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-6">
            <mat-label>Protective Measure</mat-label>
            <mat-select name="protective_name" [(ngModel)]="protective_name" multiple> 
              <mat-option *ngFor="let pname of protectivelist" [value]="pname.protective_name">
                {{pname.protective_name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="col-md-12">
              <input type="file" id="files" name="documents" [(ngModel)]="documents" (change)="detectFile($event)"  multiple/>
              <label for="files" class="btn btn-sm pull-left" style="background-color: black;color:white">Upload Document</label>
            </div>
            <mat-list>
              <mat-list-item *ngFor="let file of selectedFile">
                <h4 mat-line class="float-left">{{file.name}}</h4>
              </mat-list-item>
            </mat-list> <br>
        <!-- <div style="width: 280px;">
          <button mat-raised-button class="btn btn-primary btn-raised" style="    margin-left: 521px;width: 100px;
          background-color: orangered;">Save</button>
        </div> -->

    <br><br>    
    <div class="button" style="text-align:right">
        <button class ="btn btn-primary" style="background-color:gray" (click)="closeDialog()">Cancel</button>&nbsp;&nbsp;
        <button class="btn btn-primary" style="background-color: orangered;">Save</button> 
    
     </div>

        </div>
      </div>
    </form>
  </div>
</div>
