<div bsModal #editUserModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="editUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #editUserForm="ngForm" id="frm_edit_user" novalidate (ngSubmit)="save()">
                <!-- <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button mat-icon-button class="close" (click)="close()">
                        <mat-icon class="material-icons">close</mat-icon>
                    </button>
                </div> -->
                <div class="modal-header">
                   <button mat-button type="button" class="close" (click)="close()"
                        data-dismiss="modal">
                        <i class="material-icons">clear</i>
                    </button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body">
                        <div class="card-body bg-white br-radius-5">
                    <div>
                        <label class="Boldcreate">User Details</label>
                        <div class="col-sm-6" style="margin-left: -26px;">
                                <div class="mat-checkbox">
                                   <mat-checkbox  class="col-sm-12" color="primary" name="IsActive" [(ngModel)]="user.isActive" checked="checked"><span style="color: black;
                                    font-weight: normal;">Active</span></mat-checkbox>
                               </div>
                        </div>
                       
                    </div>
                    <div class="row mt-2">
                        <mat-form-field class="col-sm-12" style="margin-top: 25px;">
                            <input matInput placeholder="Email Address" #emailAddress="ngModel" type="email" name="emailAddress" [(ngModel)]="user.emailAddress"
                                required maxlength="256" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                            <mat-error *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)">
                                <mat-error *ngIf="emailAddress.errors.required">Email is required</mat-error>
                                <mat-error *ngIf="emailAddress.errors.pattern">Please enter valid email</mat-error>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col-sm-6">
                            <input matInput app-restrict-input="name" placeholder="First Name" type="text" #name="ngModel" name="name" [(ngModel)]="user.name"
                                required maxlength="32" minlength="2">
                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                <mat-error *ngIf="name.errors.required">Name is required</mat-error>
                                <mat-error *ngIf="name.errors.minlength">At least 2 characters required.</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-6">
                            <input matInput app-restrict-input="name" placeholder="Last Name" type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname"
                                required maxlength="32" minlength="2">
                            <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                                <mat-error *ngIf="surname.errors.required">Surname is required</mat-error>
                                <mat-error *ngIf="surname.errors.minlength">At least 2 characters required.</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <div class="row">
                            <div>
                                <label style="margin-left: 27px;" class="Bold"> User Groups</label>
                                <br>
                                <label style="margin-left: 26px;margin-top: 2px">(Select appropriate group to assign role based permissions.)</label>
                            </div>
                            <div>
                                <div class="col-sm-12" style="font-weight:normal;color:black">
                                    <div class="mat-checkbox">
                                        <ng-template ngFor let-role [ngForOf]="roles" let-roleIndex="index">
                                            <mat-checkbox class="col-sm-4" [disabled]="user.userName == 'admin'" color="primary" name="role" value="{{role.normalizedName}}"
                                                title="{{role.description}}" id="role-{{roleIndex}}" checked="{{userInRole(role,user)}}">{{role.name}}</mat-checkbox>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;margin-left: 400px;">
                        <button class="mat-flat-button mat-accent" data-background-color="teal" [disabled]="saving" type="button" (click)="close()">
                            Cancel
                        </button>
                    </div>
                    <div>
                        <button class="mat-flat-button mat-primary" data-background-color="blue" [disabled]="!editUserForm.form.valid" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
     .modal-title{
        text-align: center;
        margin-top: 20px;
     }
     .modal{
        margin-right: -30px;
        margin-top: -25px;
     }
     .modal-dialog{
        float:left;
        margin-left: -300px;
     }
</style>
