
<div class="card">
    <div class="body">
        <!-- <img src="../../../assets/images/fpwd1.jpg" alt="" style="height: 65px; -->
        <!-- margin-left: 165px;" /> -->
        <form>
                <h4 class="text-center">Change Password</h4>    <br>        
            <!-- <p style="margin-bottom: 30px;">
                Reset Password Link Will be sent to your Registered e-mail address.
            </p> -->
            <div class="row">
                <div class="col-sm-12">
                        <div class="input-group" style="margin-top: -20px;">
                        <!-- <span _ngcontent-yvm-c2="" class="input-group-addon"><i _ngcontent-yvm-c2="" class="material-icons">email</i></span> -->
                          
                        <mat-form-field>
                            <input matInput type="password"  [placeholder]="'Password' | localize"
                              required maxlength="32" />
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput type=" password"  [placeholder]="'Confirm Password' | localize"
                              required maxlength="32" />
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-actions text-center">
                     
                      <button [disabled]="saving" routerLink="/account/login" class="button" mat-flat-button type="submit" style="background-color:gray;color:white;width: 70px;
                      height: 32px;">Cancel</button><span>&nbsp;</span>    
                      <button class="button" mat-button type="submit" style="background-color:#ff7d00;color:white;width: 70px;height:32px">Submit</button>
                      
                  </div>
               
                
            </div>



        </form>
     
    </div>
  </div>
  
  
 