﻿

  <!-- <h5>Welcome Robot Safety Center</h5>
  <h7>Login below to get started.</h7> -->
<div
  *ngIf="isMultiTenancyEnabled">

  <div class="body text-center"  style="font-size:22px;font-weight: bold;margin-top: 70px;">
    <span>
      {{ "" | localize }}
      <span *ngIf="tenancyName" title="{{ name }}">
          <!-- <strong>{{ tenancyName }}</strong> -->
      </span>
      <span *ngIf="!tenancyName">{{ "" | localize }}</span> 
      <!-- (<a href="javascript:;" (click)="showChangeModal()">{{ "Change" | localize }}</a>) -->
    </span>
  </div>
</div>
