
<div class="container-2">
<div id="page-wrapper" style="margin-top: 35px;">   
<div class="row">
<div class="col-md-12">
<div class="page-title">


</div>
</div>
</div> 
              
<div class="row" >
<div class="col-lg-4 col-sm-4">
<div class="circle-tile" style="margin-left: 150px;">
<a href="#">
<div class="circle-tile-heading dark-blue" style="margin-left: 190px;">
 <i class="fa fa-users fa-fw fa-3x"></i>
</div>
</a>
<div class="circle-tile-content dark-blue" style="height: 220px;
width: 225px;
margin-left: 120px;">
<div class="circle-tile-description text-faded" style="margin-top: 18px;color: white;font-size: 25px;">
RSC
</div>


</div>
</div>
</div>
<div class="col-lg-4 col-sm-4">
<div class="circle-tile">
<a href="#">
<div class="circle-tile-heading green">
 <i class="fa fa-money fa-fw fa-3x"></i>
</div>
</a>
<div class="circle-tile-content green" style="height: 220px;
width: 225px;
margin-left: 120px;">
<div class="circle-tile-description text-faded" style="margin-top: 18px;color: white;font-size: 25px;">
 MSC
</div>


</div>
</div>
</div>
<div class="col-lg-4 col-sm-4">
<div class="circle-tile" style="margin-right: 150px;">
<a href="#">
<div class="circle-tile-heading orange" style="margin-left: 55px;">
 <i class="fa fa-bell fa-fw fa-3x"></i>
</div>
</a>
<div class="circle-tile-content orange" style="height: 220px;
width: 225px;
margin-left: -16px;">
<div class="circle-tile-description text-faded" style="margin-top: 18px;color: white;font-size: 25px;">
CSC
</div>

</div>
</div>
</div>



</div>
                  


</div><!-- page-wrapper END-->
</div><!-- container-1 END-->