﻿<!-- <div class="bg" [ngStyle]="getBgColor()"> -->
<section class="content">
        <div class="container-fluid">
            <div class="block-header" style="margin-top: -45px;">
                <h2>DASHBOARD</h2>
            </div>

            <!-- Widgets -->
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-pink hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons" (click)="task()">playlist_add_check</i>
                        </div>
                        <div class="content">
                            <div class="text"> TASKS</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-cyan hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons" (click)="subTask()">save</i>
                        </div>
                        <div class="content">
                            <div class="text"> SUBTASK</div>
                            <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons" (click)="Hazards()">forum</i>
                        </div>
                        <div class="content">
                            <div class="text"> HAZARDS</div>
                            <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-orange hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons" (click)="safeguard()">extension</i>
                        </div>
                        <div class="content">
                            <div class="text"> SAFEGUARDS</div>
                            <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Widgets -->
            <div class="row clearfix" style="margin-top: 25px;">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-pink hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons" (click)="pm()">verified_user</i>
                            </div>
                            <div class="content">
                                <div class="text"> PROTECTIVE MEASURES</div>
                                <div class="number count-to" data-from="0" data-to="125" data-speed="15" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-cyan hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons" (click)="safetychain()">help</i>
                            </div>
                            <div class="content">
                                <div class="text"> SAFETY CHAIN</div>
                                <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box bg-light-green hover-expand-effect">
                                <div class="icon">
                                    <i class="material-icons" (click)="UserInformation()">home</i>
                                </div>
                                <div class="content">
                                    <div class="text">USER INFORMATION</div>
                                    <div class="number count-to" data-from="0" data-to="257" data-speed="1000" data-fresh-interval="20"></div>
                                </div>
                            </div>
                        </div>
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-light-green hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">forum</i>
                            </div>
                            <div class="content">
                                <div class="text">NEW HAZARDS</div>
                                <div class="number count-to" data-from="0" data-to="243" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box bg-orange hover-expand-effect">
                            <div class="icon">
                                <i class="material-icons">person_add</i>
                            </div>
                            <div class="content">
                                <div class="text">NEW SAFEGUARDS</div>
                                <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-3">
                                <div class="dbox dbox--color-2">
                                    <div class="dbox__icon">
                                        <i class="glyphicon glyphicon-tasks" (click)="UserInformation()"></i>
                                    </div>
                                    <div class="dbox__body">
                                            <div class="text" (click)="UserInformation()">User Information</div>
                                    </div>
                                    </div>
                        </div>
                </div>
               






            </div>
    </div>

</div>













                    </div> -->

                </div>
            <!-- CPU Usage -->
           
         
        </div>
    </section>
    <!-- </div> -->