

/* .bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
} */