﻿.content.account-forms {
    margin-top: 10px;
}

.content.tenant-change-box {
    padding: 16px 16px 0px 16px;
    margin: 120px auto 0px auto;
    max-width: 400px;

    a {
        cursor: pointer;
    }
}

.login-page {
    background-color: transparent;
     background-image: url("../assets/images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-left: 0;
    max-width: 450px;
    margin: 5% auto;
    overflow-x: hidden;
}

.password{
   // background-color:red;
   // background-color: transparent;
    // background-image: url("../assets/images/fpwd.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-left: 0;
    max-width: 450px;
    margin: 5% auto;
    overflow-x: hidden;
}

.register{
    //background-color:gray;
    // background-color: transparent;
      background-image: url("../assets/images/bg3.jpeg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top center;
     padding-left: 0;
     max-width: 450px;
     margin: 5% auto;
     overflow-x: hidden;
}

// .register1{
//   background-color:white;
// }

/*START : login-box Class */
.login-box .row{
    margin: 0;
}
.resetpwd{
    background-color:#ddd;
    // background-color: transparent;
     //background-image: url("../assets/images/background.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top center;
     padding-left: 0;
     max-width: 450px;
     margin: 5% auto;
     overflow-x: hidden;
}
.changepwd{
    background-color:#ddd;
    // background-color: transparent;
     //background-image: url("../assets/images/background.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: top center;
     padding-left: 0;
     max-width: 450px;
     margin: 5% auto;
     overflow-x: hidden;
}
.userregister{
   
        //background-color:#ddd;
        // background-color: transparent;
         background-image: url("../assets/images/benefits.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: top center;
         padding-left: 0;
         max-width: 450px;
         margin: 5% auto;
         overflow-x: hidden;
    
}
// .login-box .tenant-logo {
//   background-image: url("../assets/images/logo_75.png"), url("../assets/images/logo_75.png");
//     background-repeat: no-repeat, no-repeat;
//     background-position: center center, center center;
//     height: 117px;
//     margin-top: -52px;
// }
// .login-box .tenant-logo > img{
//     text-align: center;
// }




/*END : login-box Class*/

