<div bsModal #createUserModal="bs-modal" class="modal fade" (onShown)="onShown()" tabindex="-1" role="dialog" aria-labelledby="createUserModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div #modalContent class="modal-content">
            <form *ngIf="active" #createUserForm="ngForm" id="frm_create_user" novalidate (ngSubmit)="save()">
                <!-- <div class="modal-header">
                    <h4 class="modal-title">Create New User</h4>
                    <button mat-icon-button class="close" (click)="close()">
                        <mat-icon class="material-icons">close</mat-icon>
                    </button>
                </div> -->
                <div class="modal-header">
                    <h4 class="modal-title">Create New User</h4>
                    <button mat-button type="button" class="close" (click)="close()"
                        data-dismiss="modal" style="margin-top: -42px;margin-right: -10px;">
                        <i class="material-icons">clear</i>
                    </button>                         
                </div>
                <div class="modal-body">
                        <div class="card-body bg-white br-radius-5">
                    <div>
                        <label class="Boldcreate">User Details</label>
                        <div class="col-sm-6" style="margin-left: -26px;">
                            <div class="mat-checkbox">
                        <mat-checkbox style="margin-left:14px;" class="col-auto" color="primary" name="IsActive" [(ngModel)]="user.isActive" checked="checked"><span style="color: black;
                            font-weight: normal;">Is Active</span></mat-checkbox>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <mat-form-field class="col-sm-12" style="margin-top: 25px;">
                            <input matInput placeholder="Email Address (This will be User Email Address)" #emailAddress="ngModel" type="email" name="EmailAddress"
                                required [(ngModel)]="user.emailAddress" maxlength="256" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
                            <mat-error *ngIf="emailAddress.invalid && (emailAddress.dirty || emailAddress.touched)">
                                <mat-error *ngIf="emailAddress.errors.required">Email is required</mat-error>
                                <mat-error *ngIf="emailAddress.errors.pattern">Please enter valid email</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-6">
                            <input matInput app-restrict-input="name" placeholder="First Name" type="text" name="Name" #name="ngModel" [(ngModel)]="user.name"
                                required maxlength="32" minlength="2">
                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                <mat-error *ngIf="name.errors.required">Name is required</mat-error>
                                <mat-error *ngIf="name.errors.minlength">At least 2 characters required.</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="col-sm-6">
                            <input matInput app-restrict-input="name" placeholder="Last Name" type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname"
                                required maxlength="32" minlength="2">
                            <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">
                                <mat-error *ngIf="surname.errors.required">Surname is required</mat-error>
                                <mat-error *ngIf="surname.errors.minlength">At least 2 characters required.</mat-error>
                            </mat-error>
                        </mat-form-field>
                        <fieldset class="col-sm-12">
                            <div class="form-group">
                                <mat-form-field>
                                    <input matInput placeholder="Password" id="password" #password="ngModel" type="password" name="password" [(ngModel)]="user.password"
                                        #password="ngModel" maxlength="32">
                                </mat-form-field>
                                <label class="Boldcreate">User Roles</label>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="mat-checkbox" style="color: black;font-weight: normal;">
                                            <ng-template ngFor let-role [ngForOf]="roles" let-roleIndex="index">
                                                <mat-checkbox class="col-sm-4" style="margin-left: -14px;" color="primary" name="role" value="{{role.normalizedName}}" title="{{role.description}}" id="role-{{roleIndex}}">{{role.name}}</mat-checkbox>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <div style="float:left;margin-left: 400px;">
                        <button class="mat-flat-button mat-accent" data-background-color="teal" [disabled]="saving" type="button" (click)="close()">
                            Cancel
                        </button>
                    </div>
                    <div style="float:right">
                        <button class="mat-flat-button mat-primary" data-background-color="blue" [disabled]="!createUserForm.form.valid || saving" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .modal-dialog{
      margin-left: -335px;
    }
    .modal-title{
        text-align: center;
    }
  </style>